<p id="notice"><%= notice %></p>

<h1>Listing Projects Outline Subscribers</h1>

<table>
  <thead>
    <tr>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects_outline_subscribers.each do |projects_outline_subscriber| %>
      <tr>
        <td><%= projects_outline_subscriber.phone %></td>
        <td><%= link_to 'Destroy', projects_outline_subscriber, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subscriber', new_projects_outline_subscriber_path %>
